# Arquivos e pastas do Eclipse
.metadata/
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders/

# Arquivos do Eclipse Buildship (Gradle)
.gradle/
build/

# Arquivos de log
*.log

# Arquivos do sistema operacional
.DS_Store
Thumbs.db

# Arquivos do Java
*.class
*.jar
*.war
*.ear

# Arquivos de IDEs em geral
.vscode/
.idea/
*.iml
